@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray-blue: #293056;
  --dark-gray-body: #363f72;
}

.container {
  @apply max-w-[700px];
}

.article h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-[var(--dark-gray-blue)] text-pretty;
}

.article h1 {
  @apply text-5xl md:text-7xl mb-6 max-w-[800px] tracking-tighter;
}
.article h2 {
  @apply text-4xl mt-[2em] mb-[1rem] tracking-tight;
}

.article h3 {
  @apply text-xl mt-[1em] mb-[1em] font-semibold;
}

.article .description {
  @apply mb-20 text-[#3E4784];
}

.article p {
  @apply mb-[1em] mt-[.5em] text-gray-700 max-w-[650px] leading-7 text-[var(--dark-gray-body)];
}

img {
  @apply rounded-md border border-[#D5D9EB] w-full my-10;
}

ul {
  @apply list-disc my-4 text-gray-700;
}

ol {
  @apply list-decimal my-4 text-gray-700;
}

li {
  @apply ml-4 pl-2;
}

pre {
  padding: 24px;
  border-radius: 0.5em;
  margin: 2em 0;
}

pre {
  overflow: auto;
}

code {
  @apply text-sm bg-[var(--dark-gray-blue)] text-white px-3 py-[4px] rounded-md mx-1;
}

pre.shiki code {
  all: unset;
}

.tab-content code {
  padding: 24px;
  border-radius: 0.5em;
  margin: 2em 0;
  overflow: auto;
  display: flex;
}

.shiki {
  background-color: var(--dark-gray-blue) !important;
  display: block;
}

.tabs-container {
  margin-top: 3em;
  font-family: "Jetbrains Mono";
}

.tabs-header {
  @apply flex gap-3 overflow-auto -mb-12 xl:-mb-12;
}

.tabs-header::-webkit-scrollbar {
  display: none
}

.tab-button {
  @apply text-gray-500 px-6 py-4 pb-8 text-nowrap text-[var(--dark-gray-blue)];
}
.tab-button.active {
  @apply bg-[var(--dark-gray-blue)] px-6 py-4 pb-8 text-white rounded-t-md;
}
