@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray-blue: #293056;
  --dark-gray-body: #363f72;
}

body {
  @apply text-[var(--dark-gray-body)]
}

.container {
  @apply max-w-[650px];
}

.article {
  @apply pb-32
}

h1,
h2,
h3,
h4,
h5,
h6  {
  @apply text-[var(--dark-gray-blue)] text-balance;
}

h1 {
  @apply text-5xl md:text-7xl mb-[2rem] mt-12 max-w-[800px] tracking-tighter;
}
h2 {
  @apply text-4xl mt-[2em] mb-[1em] tracking-tight;
}

h3 {
  @apply text-2xl mt-[1.6em] mb-[0.6em];
}

.description {
  @apply mb-20 text-[#3E4784];
}

p {
  @apply my-[1.25em] max-w-[650px] leading-7 text-[var(--dark-gray-body)] text-pretty;
}

p, .callout, pre {
  max-width: 650px;
}

.callout p:first-of-type, .callout p:last-of-type {
  margin-bottom: 0;
}

.callout p:first-of-type  {
  margin-top: 0;
}

.article a {
  @apply underline underline-offset-4 hover:decoration-gray-200 
}

img, table {
  @apply rounded-md border border-[#D5D9EB] w-full my-[2em];
}

ul {
  @apply list-disc  ml-4 my-[1.25em];
}

ol {
  @apply list-decimal  ml-4 my-[1.25em];
}

li {
  @apply ml-4 pl-2 leading-7 my-[0.5em] text-[var(--dark-gray-body)];
}

li::marker {
  @apply text-[var(--dark-gray-body)] 
}

hr {
  @apply my-[3em]
}

pre {
  padding: 24px;
  border-radius: 0.5em;
  margin: 1.714em 0;
  overflow: auto;
}

code {
  @apply text-sm bg-[var(--dark-gray-blue)] text-white px-2 py-[4px] rounded-md mx-0.5 text-nowrap;
}

pre.shiki code {
  all: unset;
}

.tab-content code {
  padding: 24px;
  border-radius: 0.5em;
  margin: 2em 0;
  overflow: auto;
  display: flex;
}

.shiki {
  background-color: var(--dark-gray-blue) !important;
  display: block;
}

.code-playground .shiki {
  height: 100%;
}

.code-playground pre {
  margin: 0;
}

.playground-output * {
  color: white;
  margin: unset;
}

.playground-output *:first-child {
  margin-top: unset;
}

.playground-output *:last-child {
  margin-bottom: unset;
}

.tabs-container {
  margin-top: 2em;
  font-family: "Jetbrains Mono";
}

.tabs-header {
  @apply flex gap-3 overflow-auto -mb-12 xl:-mb-12;
}

.tabs-header::-webkit-scrollbar {
  display: none
}

.tab-button {
  @apply text-gray-500 px-6 py-4 pb-8 text-nowrap text-[var(--dark-gray-blue)];
}
.tab-button.active {
  @apply bg-[var(--dark-gray-blue)] px-6 py-4 pb-8 text-white rounded-t-md;
}
