@import "tailwindcss";

:root {
  --dark-gray-blue: #293056;
  --dark-gray-body: #363f72;
  --spacing-modifier: 1;
}

@theme {
  --color-gray-blue-100: #eaecf5;
  --color-gray-blue-700: #363f72;
  --color-gray-blue-800: #293056;
}

body {
  @apply text-sm lg:text-base text-gray-blue-700 antialiased;
}

.container {
  @apply max-w-[650px];
}

.article {
  @apply pb-32;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-blue-800 text-balance;
}

h1 {
  @apply text-5xl lg:text-7xl mb-[0.5em] mt-12 max-w-[800px] tracking-tighter;
}
h2 {
  @apply text-2xl lg:text-4xl mt-[1em] mb-[0.5em] tracking-tight;
}

h3 {
  @apply text-xl lg:text-2xl mt-[1em] mb-[0.5em] tracking-tight;
}

p {
  @apply mb-2 lg:mb-4 max-w-[650px] leading-7 text-pretty;
}

.article a {
  @apply underline underline-offset-4 hover:border-b-[2px] hover:duration-75;
}

img,
table {
  @apply rounded-md border border-[#D5D9EB] !my-4;
}

ul {
  @apply list-disc mb-4;
}

ol {
  @apply list-decimal mb-4;
}

li {
  @apply ml-4 pl-2 leading-7 my-[0.5em];
}

hr {
  @apply my-[2.0em];
}

pre {
  padding: 24px;
  border-radius: 0.5em;
  margin: 1em 0;
  overflow: auto;
}

code {
  @apply text-xs lg:text-sm bg-gray-blue-100 text-gray-blue-800 px-2 py-[2px] rounded-md mx-0.5 text-nowrap;
}

p,
.callout,
pre {
  max-width: 650px;
}

.callout p {
  @apply leading-[1.7em] my-1;
}

.callout *:first-child {
  margin-top: 0;
}

.callout *:last-child {
  margin-bottom: 0;
}

.callout code,
.callout pre {
  @apply text-xs;
}

.callout code {
  @apply rounded-s px-[6px];
}

.callout.info code {
  color: inherit;
  background: #ced2ed;
}

.callout.danger code {
  color: inherit;
  background: #fff7f7;
  border: 1px solid #eacece;
}

.callout.warning code {
  border: 1px solid #ead7bb;
  color: inherit;
  background: #fff2e0;
}

.callout.success code {
  color: #115828;
  border: 1px solid #b6e5c5;
  background: #f0fff5;
}

.callout .shiki code {
  all: unset;
  border: none;
}

.callout pre {
  padding: 1.5em 1em;
}

.dos p {
  margin: 0;
}

pre.shiki code {
  all: unset;
}

.shiki {
  background-color: var(--dark-gray-blue) !important;
  display: block;
}

.code-playground .shiki {
  height: 100%;
}

.code-playground pre {
  margin: 0;
}

.playground-output * {
  color: white;
  margin: unset;
}

.playground-output *:first-child {
  margin-top: unset;
}

.playground-output *:last-child {
  margin-bottom: unset;
}

.tab-content code {
  padding: 24px;
  border-radius: 0.5em;
  margin: 1em 0;
  overflow: auto;
  display: flex;
}

.step p {
  margin-top: 0;
  margin-bottom: 1em;
}

.steps .step:last-of-type {
  margin-bottom: 0 !important;
}

.step .filestructure p {
  margin-bottom: 0;
}

.step:last-child .number-line {
  display: none;
}

.tabs-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Jetbrains Mono";
}

.tabs-header {
  @apply flex overflow-auto -mb-12 xl:-mb-12;
}

.tabs-header::-webkit-scrollbar {
  display: none;
}

.tab-button {
  @apply px-6 py-4 pb-8 text-nowrap text-gray-blue-800;
}
.tab-button.active {
  @apply bg-[var(--dark-gray-blue)] px-6 py-4 pb-8 text-white rounded-t-md;
}
